doctype html
html
  head
    title some cool app
    link(rel='stylesheet', type='text/css', href='/public/main.css')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
  body
    block content
